*{
    padding: 0;
    margin: 0;
}


html {
    /* font-family: 'Nunito'; */
    font-family: 'Merriweather Sans', sans-serif;
    --red: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;
    --blue: #118ab2;
    --darkBlue: #073b4c;
    --white: #f0efeb;
}

body {
    background-color: #fafafa;
    color: blueviolet;
}

.mainBoard{
    height: 75vh;
    margin: 30px auto;

    display: flex;
}

.board {
    background-color: burlywood;
    border: 1px solid blueviolet;
    margin: 0 16px;
}

.board h3 {
    padding: 16px;
    color: brown;
}

.dropzone {
    height: 100%;
    padding: 16px;
    background-color: gray;
    min-width: 280px;
    min-height: 200px;
}

.postIt {
    background-color: #141316cc;
    padding: 16px;
    box-shadow: 0 2px -1px; /* respectivamente: eixo x, eixo y e blur*/
    width: 250px;
    margin: 25px 0;
    border-radius: 0 4px 4px 4px;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
}

.postIt:hover{
    cursor:-webkit-grab;
}

.status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.blue {
    background-color: blue;
}

.status.yellow {
    background-color: yellow;
}

.status.green {
    background-color: green;
}

.highlight {
    background-color: lightpink;
}


/* Velocidade da animação */
.postIt, .dropzone {
    transition: .4s;
}

.is-dragging {
    cursor: hand;
    opacity: 0.3;
}

.over {
    background-color: midnightblue;
}