*{
    padding: 0;
    margin: 0;
}


html {
    /* font-family: 'Nunito'; */
    font-family: 'Merriweather Sans', sans-serif;
    --red: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;
    --blue: #118ab2;
    --darkBlue: #073b4c;
    --white: #f0efeb;
}

body {
    background-color: var(--white);
    color: black;
}

header{
    padding: 25px;
    text-align: center;
    background: var(--blue);
}

.mainBoard{
    height: 75vh;
    margin: 30px 3%;
    border: solid 3px;

    display: flex;
    justify-content: space-between;
}

.board {
    /* background-color: lightgray; */
    width: 25%;
    /* height: 100%; */
    overflow: auto;
    /* border: 1px solid blueviolet; */
    /* margin: 0 16px; */
    border: solid 10px #deb887;
    border-radius: 5px;
}

.board h3 {
    padding: 16px;
    color: brown;
}

.dropzone {
    height: 85%;
    /* background-color: gray; */
}

.postIt {
    width: 250px;
    margin: 25px auto;
    padding:35px 10px;
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
    
    text-align: center;
    
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
    box-shadow: 0 2px 10px; /* respectivamente: eixo x, eixo y e blur*/
    
    /* border:1px solid #E8E8E8; */
    border-top:20px solid #fdfd86;
    border-radius: 0 8px 8px 8px; 
    font-family: 'Architects Daughter', cursive;
    font-size:22px;
}

.postIt:hover{
    cursor:-webkit-grab;
}

/* .status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
} */

/* .status.blue {
    background-color: blue;
}

.status.yellow {
    background-color: yellow;
}

.status.green {
    background-color: green; */
/* } */

.highlight {
    background-color: lightyellow;
}


/* Velocidade da animação */
.postIt, .dropzone {
    transition: .4s;
}

.is-dragging {
    cursor: hand;
    opacity: 0.3;
}

.toDo .over {
    background-color: var(--red);
}

.doing .over {
    background-color: var(--yellow);
}

.done .over {
    background-color: var(--green);
}